<div class="banner">
  <div class="navebar">
      <a href="#"><img class="logo" src="" loading="lazy"  width="60px" height="60px"  ></a>
      <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Bedroom</a></li>
          <li><a href="#">Dining</a></li>
          <li><a href="#">Kitchen</a></li>
          <li><a href="#">Backyard</a></li>
      </ul>
  </div>
  <div class="content">
      <h1>Design Your House</h1>
      <p>By using our website you can design your own website very beautiful. <br> Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
      <div>
          <button type="button"><span></span>WATCH MORE</button>
          <button type="button"> <span></span>SUBSCRIBE</button>
      </div>
  </div>
</div>